html{
    width: 100vw;
    height: 100vh;
}

.selectedSymptoms{
    width: 225px;
    display: flex;
    flex-direction: column;

}

.clearButton{
    width: 50px;
    height: 20px;
    margin-left: 225px;
    margin-top: -20px;
}

#selectedSymptoms{
    margin-left: 350px;
}
